

.loadParent{
  position: relative;
}
.loadCover{
  z-index: -1000;
  transition: opacity .5s;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: white
}
.loadCoverShow{
  z-index: 1000;
  opacity: 1;
  transition: opacity .5s;
}

.sk-rotating-plane{
  background: black;
}
.sk-double-bounce .sk-child{
  background: black;
}
.sk-wave .sk-rect{
  margin-right: 3px;
  background: black;
}
.sk-wandering-cubes .sk-cube{
  background: black;
}
.sk-spinner-pulse{
  background: black;
}
.sk-chasing-dots .sk-child{
  background: black;
}
.sk-three-bounce .sk-child{
  background: black;
}
.sk-circle .sk-child:before{
  background: black;
}
.sk-cube-grid .sk-cube{
  background: black;
}
.sk-fading-circle .sk-circle:before{
  background: black;
}
.sk-circle{
  margin: 0 auto;
}
.sk-folding-cube .sk-cube:before{
  background: black;
}