@font-face 
    font-family 'Dancing'
    src url('fonts/Dancing.ttf')
    font-weight normal 
    font-style normal

@font-face 
    font-family 'Quicksand'
    src url('fonts/Quicksand.ttf')
    font-weight normal 
    font-style normal
